# TM Digital Marketing Server Configuration

# 1. MongoDB Connection String (Replace with your MongoDB Atlas or Local MongoDB URL)
# Example Local MongoDB: mongodb://127.0.0.1:27017/tm_digital
# Example Cloud MongoDB Atlas: mongodb+srv://<username>:<password>@cluster0.mongodb.net/tm_digital?retryWrites=true&w=majority
MONGODB_URI=mongodb://127.0.0.1:27017/tm_digital

# 2. Server Port
PORT=5001
